.div_row{
    background-color: gold;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.diva{
    background-color: green;
    width: 250px;
    height: 250px;
    border: 7px solid red;

}
.divb{
    background-color: saddlebrown;
    width: 250px;
    height: 250px;
    border: 7px solid red;
}